$event-title-size: 1.5rem;
$timeline-border-width: 0.25rem;
$timeline-ball-size: $event-title-size + (2 * $timeline-border-width) + 0.1rem;

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.i-believe-text {
  font-size: large;
}

.timeline-ordering {
  display: flex;

  margin-top: 3rem;
  margin-bottom: 0.5rem;

  font-size: small;
  color: $theme-color;

  .active {
    font-weight: bold;
  }

  a {
    color: $theme-color;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }

  .timeline-ordering-option:not(:last-of-type) {
    &::after {
      content: "|";
      margin: 0 3px;
    }
  }
}

.timeline {
  list-style: none;

  margin-top: 0;
  margin-left: $timeline-ball-size / 2;
  padding: 0;

  .active-tag {
    color: $theme-color;
    font-weight: 700;
  }

  a {
    color: black;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: grey;
    font-weight: 600;

    position: relative;

    &:hover,
    &:focus,
    &:active {
      text-decoration-color: black;
    }
  }

  li {
    animation-name: fade-in;
    animation-duration: 1s;
    animation-fill-mode: both;

    padding: 0 0 1rem 2rem;
    border-left: $timeline-border-width solid $theme-color;

    position: relative;

    .timeline-ball {
      box-sizing: border-box;
      width: $timeline-ball-size;
      height: $timeline-ball-size;
      border: $timeline-border-width solid $theme-color;
      border-radius: 50%;

      position: absolute;
      left: -($timeline-ball-size / 2) - ($timeline-border-width / 2);

      background-color: white;
    }

    h2 {
      margin: 0;

      font-weight: 600;
      font-size: $event-title-size;
    }

    .episode-link {
      font-size: small;
    }
  }
}
