$theme-color: #713296;

@import "./container";
@import "./error";
@import "./timeline";

body {
  font-family: "Open Sans", sans-serif;
  padding: 0 2rem 2rem 2rem;
  margin-top: 0;
}

.monospace {
  font-family: "Courie Prime", monospace;
}

.sr-only {
  position: absolute !important; /* Outside the DOM flow */
  height: 1px;
  width: 1px; /* Nearly collapsed */
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE 7+ only support clip without commas */
  clip: rect(1px, 1px, 1px, 1px); /* All other browsers */
}
