{% extends 'layout.njk' %}

{% from './components/page-heading/macro.njk' import pageHeading %}

{% set synonyms = [
  'educational',
  'elucidative',
  'enlightening',
  'informative',
  'illuminating',
  'revelatory'
] %}

{% block content %}
  {% call pageHeading() %}
    Well, since you ask me {{ topic }}
    <span class="subject">{{ subject | safe }}</span>…
  {% endcall %}
  <p class="i-believe-text">
    I believe I do have a series of events that you might find {{ synonyms | random }}.
  </p>
  <header class="timeline-ordering">
    {% if sortChronologically %}
      <a href="?">Broadcast order</a> | <span class="active">Chronological order</span>
    {% else %}
      <span class="active">Broadcast order</span> | <a href="?starting-from-the-beginning">Chronological order</a>
    {% endif %}
  </header>
  <ol class="timeline">
    {% for event in events %}
      <li style="animation-delay: {{ loop.index0 * 200 }}ms;">
        <div class="timeline-ball" aria-hidden="true"></div>
        <h2>
          {{ event.year }} – {{ event.location }}
        </h2>
        <div class="episode-link">
          <a href="/what-happened-in/episode-{{ event.episode }}{{ '?starting-from-the-beginning' if sortChronologically }}">Episode {{ event.episode }}</a>,
          Scene {{ event.scene }}
        </div>
        {% for paragraph in event.description %}
          <p>
            {{ paragraph | withLinks(sortChronologically) }}
          </p>
        {% endfor %}
      </li>
    {% endfor %}
    <li style="animation-delay: {{ (events | length) * 200 }}ms;">
      <div class="timeline-ball" aria-hidden="true"></div>
      <h2>
        ⚠️ Work in progress!
      </h2>
      <p>
        This website is still under construction. Please check back in a week or so. 🙂
      </p>
    </li>
  </ol>
{% endblock %}
