{% extends 'layout.njk' %}

{% block content %}
  <h1>Well, since you asked me what happened in Season 9 of John Finnemore’s Souvenir Programme…</h1>
  <div role="doc-subtitle">
    I believe I have a list of events that you might find
    {{ ["educational", "informative", "illuminating"] | random }}.
  <div>
{% endblock %}
