$event-title-size: 1.5rem;
$timeline-border-width: 0.25rem;
$timeline-ball-size: $event-title-size + (2 * $timeline-border-width) + 0.1rem;

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  padding: 2rem;
}

.container {
  max-width: 960px;
  margin: auto;

  h1 {
    margin-top: 0;
  }
}

ol.events {
  list-style: none;
  padding: 0;
  margin-left: $timeline-ball-size / 2;
  li {
    animation-name: fade-in;
    animation-duration: 1s;
    animation-fill-mode: both;
    border-left: $timeline-border-width solid black;
    padding: 0 0 1rem 2rem;
    position: relative;
    .timeline-ball {
      box-sizing: border-box;
      width: $timeline-ball-size;
      height: $timeline-ball-size;
      border: $timeline-border-width solid black;
      border-radius: 50%;
      position: absolute;
      left: -($timeline-ball-size / 2) - ($timeline-border-width / 2);
      background-color: white;
    }
    h2 {
      margin: 0;
      font-size: $event-title-size;
    }
    .episode-link {
      font-size: small;
    }
  }
}
